<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>My Skillset</title>
</head>
<body>
    <a href="/">Home</a>

    <a href=""/todos">My Skills</a>
    <h1><%= title %></h1>

    <!--  all this page will be passed and rendered in other areas-->
    <!-- need to make sure the information is passed with a propper render, this is in controls. -->