<!DOCTYPE html>
<html>
<head>
  <title>Coding skills looking?</title>
</head>
<body>
  <main>
    <nav>
      <ul>
        <li><a href="/">&lt; Back</a></li>
      </ul>
    </nav>

    <h1>How are my skills looking?</h1>

    <ul>
      <% skills.forEach(function(e) { %>
        <li>
          <a href="/skills/<%= e.id %>"><%= e.name %></a>
        </li>
      <% }); %>
    </ul>
  </main>
</body>
</html>
