Copy code
<!DOCTYPE html>
<html>
<head>
  <title>Where can I get lunch around here?</title>
</head>
<body>
  <main>
    <nav>
      <ul>
        <li><a href="/skills">&lt; Back</a></li>
      </ul>
    </nav>

    <hgroup>
      <h1><%= skill.name %></h1>
      <h2><strong><%= skill.difficulty %></strong> - <small><%= skill.mastered %></small></h2>
      <h6><%= skill.confidence %></h6>
    </hgroup>
  </main>
</body>
</html>
